@import 'setup';
@import 'mixin';

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
  font-size: 62.5%;
}

body {
    font-family: 'Karla', sans-serif;
}

h1, h2, h3 {
    font-family: 'Rubik', sans-serif;
}

h1 {
    font-size: 3rem;
    margin-top: 50px;
    margin-bottom: 0;
    border-bottom: 3px solid #7dbc41;

    @include mobileMQ {
        font-size: 2rem;
    }
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 1.75rem;
}

.wrapper {
    width: 90%;
    max-width: 1300px;
}

.hidden {
    display: none;
}

//header
header {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            width: 200px;

            @include mobileMQ {
                margin-top: 50px;
            }

            img {
                width: 100%;
            }
            
        }

        a {
            transition: color 0.3s ease-in-out;
        }

        a:hover, a:focus {
            cursor: pointer;
            color: #7dbc41;
        }

        nav {
            display: flex; 
            justify-content: center;
            width: calc(81% - 200px);

            @include tabletMQ {
                width: calc(90% - 200px);
            }

            @include mobileMQ {
                display: none;
            }

            ul {
                display: flex; 
                font-family: 'Rubik', sans-serif;
                font-size: 2rem;

                @include tabletMQ {
                    font-size: 1.75rem;
                    padding: 0;
                }

                li {
                    padding: 20px;

                    @include tabletMQ {
                        padding: 10px;
                    }
                }
            }
        }

        .social_media {
            position: relative;
            width: 21%;
            display: flex;
            justify-content: center;
            align-items: center;

            @include tabletMQ {
                position: absolute;
                top: 150px;
                width: 30%;
            }

            @include mobileMQ {
                position: absolute;
                top: 20px;
                justify-content: flex-end;
                width: 90%;
            }

            i {
                font-size: 2.5rem;
                margin-right: 10px;
            }

            button {
                position: absolute;
                right: 0;
                width: 65px;
                font-size: 1.5rem;
                background-color: #7dbc41;
                color: white;
                border: none;
                margin-left: 10px;
                padding: 5px;
                border-radius: 3px;
                @include tabletMQ {
                    position: relative;
                }   
            }

            button:hover, button:focus {
                cursor: pointer;
                opacity: 0.7;
            }
            
        }

        .login-form {
            visibility: hidden;
            position: absolute;
            top: 100px;
            right: 20px;
            width: 300px;
            background-color: #f9f9f9;
            border: 2px solid #7dbc41;
            border-radius: 10px;
            padding: 20px;

            @include tabletMQ {
                left: 220px;
            }

            @include mobileMQ {
                left:auto;
                right: 10px;
            }

            input {
                width: 100%;
                height: 30px;
                margin: 5px 0;
            }

            .close-button {
                position: absolute;
                font-size: 2rem;
                top: 10px;
                right: 10px;

                &:hover, &:focus {
                    cursor: pointer;
                    opacity: 0.5;
                    transform: scale(1.2);
                }
            }

            .button-container {
                display: flex;
                justify-content: space-between;

                button {
                    width: 48%;
                    height: 40px;
                    background-color: #7dbc41;
                    color: white;
                    border: none;
                    border-radius: 3px;
                    font-size: 1.5rem;

                    &:hover, &:focus {
                        cursor: pointer;
                        opacity: 0.5;
                    }
                }
            }

            
        }
    }
}
main {
    width: 100%;
    height: auto;
}

main section:not(first-child) {
    height: 100vh;
}

section {
    display: flex;
    justify-content: center;
    width: 100%;
}

//landing image
.landing {
    height: calc(100vh - 150px);
    background: center bottom / cover no-repeat url(../../assets/background.jpg);

    h2 {
        margin-top: 50px;
        text-decoration: underline #7dbc41;
    }
}

.about {

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .values {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 80%;

        @include tabletMQ {
            flex-wrap: wrap;
            justify-content: center;
        }

        .image-container {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 22%;
            height: auto;
            border-radius: 5px;

            @include tabletMQ {
                width: 45%;
            }

            img {
                width: 100%;

                @include tabletMQ {
                    width: 45%;
                }
            }
            p {
                text-align: center;

                @include tabletMQ {
                    font-size: 1.5rem;
                }
    
            }
        }

        .image-container:hover, .image-container:focus {
            cursor: pointer;
            background-color: #7dbc41;
            border: 3px solid #7dbc41;

            @include tabletMQ {
                background-color: white;
            }
        }
        .value-content {
            background-color: #7dbc41;
            width: 100%;
            height: 100%;
            color: white;
            padding: 5px;
            transition: all .5s ease;

            p {
                text-align: start;
            }
        }
    }
}

.products {
    background-color: #333333;

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h1 {
        color: white;
    }

    p {
        font-size: 1.5rem;
    }

    .products-container {
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        @include mobileMQ {
            flex-direction: column;
        }

        .image-container {
            width: 30%;
            height: calc(90vw * 0.3);
            background-color: white;
            border-radius: 5px;

            @include tabletMQ {
                height: calc(90vw * 0.3 + 50px);
            }

            @include mobileMQ {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 90%;
                height: 25%;
            }

            &:hover, &:focus {
                cursor: pointer;
                border: 3px solid #7dbc41;
            }

            img {
                width: 100%;
                height: calc(100% - 100px);
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;

                @include tabletMQ {
                    height: calc(100% -110px);
                }

                @include mobileMQ {
                   width: auto;
                   height: 80%;
                   border-radius: 5px;
                   margin-left: 10px;
                }
            }

            h3 {
                @include tabletMQ {
                    margin-bottom: 0;
                }

                @include tabletMQ {
                    margin: 0;
                }
            }

            p {
                @include tabletMQ {
                    margin-top: 5px;
                }
            }

            .products-content {
                height: 100px;
                padding: 0 10px;

                @include mobileMQ {
                    width: 70%;
                }
            }
        }
    }
}

.services {

    @include tabletMQ {
        height:calc(100vh + 400px) ;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .service-contents {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        height: 80%;

        @include tabletMQ {
            flex-direction: column;
            flex-wrap:nowrap;
        }

        .service-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #f9f9f9;
            width: 48%;
            height: 40%;
            padding: 10px;
            border: 2px solid gray;
            border-radius: 10px;
            color: gray;

            @include tabletMQ {
                width: 90%;
                height: 23%;
            }
            
            &:hover, &:focus {
                border: 2px solid #7dbc41;
            }

            img {
                width: 30%;
                border-radius: 5px;

                @include tabletMQ {
                    height: 90%;
                }

                @include mobileMQ {
                    height: 50%;
                }
            }

            .service-detail {
                width: calc(70% - 50px);
                padding: 10px;

                p {
                    @include mobileMQ {
                        display: none;
                    }
                }
            }

            h3 {
                margin-bottom: 0;
                text-align: center;
            }

            p {
                margin-top: 5px;
                font-size: 1.5rem;
            }

            button {
                text-align: center;
                width: 50px;
                height: 50px;
                background-color: #f9f9f9;
                border: none;
                border-radius: 5px;
                font-size: 4rem;
                color: #7dbc41;
                &:hover ,&:focus {
                    cursor: pointer;
                    opacity: 0.7;
                }
            }
        }

        .reverse {
            @include tabletMQ {
                flex-direction: row-reverse;
            }
        }
    }
}

.projects {
    background-color: #333333;

    @include mobileMQ {
        height: 140vh;
    }

    h1, p {
        color: white;
    }

    .contact-us {
        text-align: end;

        @include mobileMQ {
            font-size: 1.25rem;
        }
    }

    .projects-contents {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 75%;

        @include mobileMQ {
            flex-direction: column;
        }

        h3, p {
            color: #333333;
            text-align: center;
        }

        h3 {
            text-align: center;

            @include tabletMQ {
                font-size: 1.75rem;
            }
        }

        .project-detail {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 23%;
            height: 80%;
            background-color: white;
            border-radius: 10px;
            padding: 10px;

            &:hover ,&:focus {
                border: 2px solid #7dbc41;
                cursor: pointer;
                opacity: 0.7;
            }

            @include lapTopMQ {
                height: 100%;
            }

            @include tabletMQ {
                justify-content: space-around;
                height: 95%;
                padding: 5px;
            }

            @include mobileMQ {
                width: 90%;
                height: 23%;
                flex-direction: row;
            }

            h3, p {
                margin-bottom: 0;
            }

            h3 {
                @include mobileMQ {
                    font-size: 1.5rem;
                }
            }

            p {
                font-size: 1.75rem;
                justify-self: flex-start;

                @include lapTopMQ {
                    margin-top: 5px;
                    font-size: 1.5rem;
                }

                @include mobileMQ {
                    margin: 0;
                    padding: 0;
                    font-size: 1.25rem;
                }
            }

            .image-container {

                width: calc(100% - 10px);
                height: calc(20vw * 0.9 - 10px);

                @include lapTopMQ {
                    height: calc(18vw * 0.9 - 10px);
                }

                @include mobileMQ {
                    width: 100px;
                    height: 100px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                }
            }

            .project-desc {
                @include mobileMQ {
                    width: 70%;
                }
            }

            button {
                text-align: center;
                width: 40px;
                height: 40px;
                background-color: white;
                border: none;
                border-radius: 5px;
                font-size: 3.5rem;
                color: #7dbc41;

                &:hover ,&:focus {
                    cursor: pointer;
                    opacity: 0.7;
                }

                @include mobileMQ {
                    display: none;
                }
            }
        }
    }
}

.company {
    height: calc(100vh + 150px);

    .profile {
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            text-align: center;
            margin-top: 50px;
            @include mobileMQ {
                margin-top: 30px;
            }
        }

        p {
           @include lapTopMQ {
                margin-top: 5px;
            } 

            @include tabletMQ {
                font-size: 1.5rem;
            }
        }

        .profile-container {
            height: 70%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include lapTopMQ {
                height: 100%;
            }

            @include mobileMQ {
                width: 100%;
                height: 90%;
                flex-direction: column;
            }
        }

        .profile-detail {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 23%;
            height: 100%;
            background-color: #f9f9f9;
            border-radius: 10px;
            padding: 10px;

            @include mobileMQ {
                flex-direction: row;
                width: 95%;
                margin-top: 20px;

                &:hover, &:focus {
                    border: 2px solid #7dbc41;
                    cursor: pointer;
                    opacity: 0.7;
                }
            }

            h3, p {
                margin-bottom: 0;
            }

            .profile-desc {
                @include mobileMQ {
                    display: none;
                }
            }

            .image-container {
                width: calc(100% - 10px);
                height: calc(1300px * 0.9 * 0.23 - 20px);

                @include lapTopMQ {
                    height: calc(90vw * 0.23 - 20px);
                }

                @include mobileMQ {
                    width: 75px;
                    height: 75px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                }
            }

            button {
                text-align: center;
                width: 50px;
                height: 50px;
                background-color: #f9f9f9;
                border: none;
                border-radius: 5px;
                font-size: 4rem;
                color: #7dbc41;
                &:hover ,&:focus {
                    cursor: pointer;
                    opacity: 0.7;
                }
            }
        }
    }
}

.info {
    height: calc(100vh - 500px);
    background-color: #333333;
    padding-top: 20px;
    color: white;

    @include lapTopMQ {
        height: calc(100vh - 150px);
    }

    @include mobileMQ {
        height: 130vh;
    }

    p {
        @include tabletMQ {
            font-size: 1.5rem;
        }
    }
    
    .info-header {
        display: flex;
        align-items: center;
        margin-top: 50px;

        @include lapTopMQ {
            margin-top: 20px;
        }

        @include mobileMQ {
            margin-top: 20px;

        }
    }

    .info-main {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 50px;

        @include lapTopMQ {
            margin-top: 5px;
        }

        @include mobileMQ {
            margin-top: 20px;
            flex-direction: column;
        }

        .info-container {
            width: 30%;

            @include mobileMQ {
                width: 100%;
            }

            h3 {
                padding: 5px 0;
                border-bottom: 2px solid gray;
            }

            span {
                color: #d00a2b;
            }

            .social-media-footer {

                i {
                    color: #7dbc41;
                    font-size: 2.5rem;
                    margin-right: 10px;

                    &:hover, &:focus {
                        cursor: pointer;
                        opacity: 0.7;
                    }
                }
            }
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;

    p {
        font-size: 1rem;
    }
}


